body {
  background: whiteSmoke;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  -webkit-transition: all .25s ease-in;
     -moz-transition: all .25s ease-in;
      -ms-transition: all .25s ease-in;
       -o-transition: all .25s ease-in;
          transition: all .25s ease-in;
  text-decoration: none;
  color: #95a5a6;
}

a:hover {
  text-decoration: none;
  color: #3498db;
}

.pictures {
  min-height: 400px;
}

#container header {
  margin-left: 6px;
}

h1 {
  color: #c0392b;
  margin-bottom: -10px;
}

#map {
  height: 500px;
  width: 100%;
}

.picture {
  -webkit-transition: all .25s ease-in;
     -moz-transition: all .25s ease-in;
      -ms-transition: all .25s ease-in;
       -o-transition: all .25s ease-in;
          transition: all .25s ease-in;

  width: 350px;
  height: 200px;
  overflow: hidden;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  border: 3px solid white;
}

.picture:hover {
  cursor: pointer;
  border-color: #c0392b;
}

input#search {
  width: 98%;
  height: 50px;
  font-size: 20px;
  padding-left: 14px;
  margin-left: 6px;
  margin-top: 16px;
  color: #2c3e50;
}

ul.locations {
  list-style: none;
  font-size: 17px;
  text-decoration: none;
}

ul.locations li a:hover {
  padding-left: 5px;
}

hr {
  width: 70%;
}

footer {
  text-align: center;
  bottom: 0px;
  height: 60px;
}